li.current {
	background-color: green;
}

nav {
	width: 90%; /* +12.2% to previous value */
}

input[type="submit"] {
	padding: 10px 10px;
}

.header_top {
	width: 90%; /* +12.2% to previous value */
}

ul.header_nav_text {
    line-height: 50px; /* -10px of previous value */
}

.hero_container {
	width: 58%; /* +5% to previous value */
}

.hero_container p {
	font-size: 1rem; /* -0.2rem to previous value */
}

.collection_container_content p {
	font-size: 1.1rem;
}

.footer_top {
	height: 40vh;
}

.footer_top_container {
	width: 90%; /* +12.2% to previous value */
}

.basement {
	width: 90%; /* +12.2% to previous value */
}