header {
	display: none;
}

header.mobile {
	display: flex;
	width: 100%;
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 3;
}

.header_top_mobile {
	display: flex;
	width: 90%;
	height: 50px;
	padding: 2% 0 1% 0;
	justify-content: space-between;
    align-items: center;
	color: white;
}

.header_top_mobile img {
	max-width: 65%;
}

/* Burger Menu START */

.menu-btn {
	display: flex;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 25px;
	width: 25px;
	height: 40px;
	cursor: pointer;
	z-index: 1;
}
   
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: gray;
	transition-duration: .25s;
}
.menu-btn > span::before {
	content: '';
	top: -8px;
}
.menu-btn > span::after {
	content: '';
	top: 8px;
}
   
.menubox {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 50px;
	left: -100%;
	width: 60%;
	height: 100%;
	margin: 0;
	padding: 5% 0;
	list-style: none;
	background-color: #1f1f1f;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
}
   
.menu-item {
	display: block;
	padding: 10px 0 10px 15px;
	color: gray;
	font-size: 1.5rem;
	text-decoration: none;
	transition-duration: .25s;
}
.menu-item:hover {
	background-color: black;
}
.icons_mobile {
    display: flex;
    width: 70px;
	height: 50px;
    margin-left: 15px;
    justify-content: space-between;
	align-items: center;
}   
   
#menu-toggle {
	opacity: 0;
}
   
#menu-toggle:checked ~ .menu-btn > span {
	transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
  #menu-toggle:checked ~ .menubox {
	visibility: visible;
	left: 0;
}

/* Burger Menu END */

.hero_container {
	width: 90%;
}

.hero_container img {
	max-width: 20%;
}

.hero_container p {
	font-size: .8rem;
	margin-top: 2%;
}

.new_items {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.new_season {
	width: 100%;
	padding: 5% 7.7%;
}

.collection_2018 {
	grid-template-columns: 1fr;
}

.collection_2018_image {
	display: none;
}

.collection_2018_container {
	background-image: url('../img/bg_collection_2018.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10% 0;
}

.collection_container_content {
	width: 55%;
}

.footer_top {
	position: static;
	width: 100%;
	height: 40vh;
	background-image: url('../img/bg_footer.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.footer_top_container {
	display: block;
	position: static;
	width: 90%;
	transform: none;
}

img.footer_top_bg_desktop {
	display: none;
}

.footer_top_container_item {
	margin: 2% 0;
}

.footer_top_container_item p {
	font-size: 1rem;
}

.basement {
	width: 90%;
}

.basement p {
	font-size: .8rem;
}